* {
  box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 50px 0;
  font-size: 5vw;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.timer {
  width: 45vw;
}

.new-timer {
  position: relative;
  border: 1px solid #8e8e8e;
  width: 100%;
  height: max-content;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.new-timer_playbtn {
  position: absolute;
  top: 2px;
  right: 2px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: #00ff69;
  cursor: pointer;
}

.new-timer_playbtn img {
  width: 12px;
  position: absolute;
  top: 28%;
  right: 22%;
}

input[type='text'] {
  width: 100%;
  border: 1px solid #8e8e8e;
  outline: none;
  padding: 8px 18px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
